

#homeWrapper {
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box !important;
}

#sideNav {
    margin-left: 0px !important;
    padding: 0px !important;
    color: white;
    font-weight: 120;
    background-color: rgba(178,34,34);
    background-image: url("../images/beach3.jpg");
    background-size: cover;
    background-blend-mode: multiply;

}

.sideNav { 
    height: 100%
}


#profilePic{
    max-width: 150px;
}

.section {
    padding: 7px;  
}

#slide-out {
    background-color:white;
    height: 130vh;
    color: black;
}

.links {
    color: white;
    opacity: 0.6;
}

.links:hover {
    opacity: 1;
    font-weight: 300;
}

.divider {
    margin-bottom: 15px;
}

.icons {
    opacity: 0.6;
    font-size: 25px;
}

.icons:hover {
    opacity: 1;
    cursor: pointer;
}

.iconsLinks {
    color: white;
    padding-right: 10px;
}

.active{
    border-top: 10px transparent solid;
    border-right: 10px rgb(240,242,245) solid;
    border-bottom: 10px transparent solid;
    opacity: 1;
    font-weight: 300;
}

#name {
    font-weight: 400;
}

#mainNav {
    background-color: rgb(240,242,245);
}

.fabBtn {
    position: fixed;
    right: 2%;
    bottom: 5%;
}

@media only screen and (min-width: 992px){
    #sideNav {
        height: 100vh;
    }
    
    #mainNav {
        height: 100vh;
        overflow: scroll;
    }
}