
.info {
    border: 5px solid black;
}

.tecIcons {
    font-size: 30px;
}


.externalIcons {
    width: 30px;
    height: 30px;
}

#portfolioWrapper{
    font-weight: 320;
    letter-spacing: 0.06em;
}

.card-image {
    border-bottom: 1px rgba(0,0,0,0.2) solid;
}

.title {
    color:red;
}

.cardImgHorizontal{
    border-right: 1px rgba(0,0,0,0.2) solid;;
}