
.title {
    color:red;
}


.ulWrapper {
    max-height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ulWrapper li::before {
    content: '✓';
    color:#7986cb;
}

.card-content {
    height: 70%;
}

li {
    margin: 5px;
}

.info {
    border: 4px solid black;
}

.imgRound {
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 20px;
    position: relative;
    left: 45%;
    bottom: 15px;
}


.skillsWrapper div {
    margin-top: 15px;
    color: white;
}


@media only screen and (min-width: 600px) {
    #last-child {
        position: relative;
        right: 6%;
    }
}
